@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  
  color:white;
  background-image: url("./artifacts/images/paper_tiled.png");
  
}

.container {
  max-width: 1200px;
  margin: 1px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  background-color: black;
}




.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  
}

.connectlogo {

  
}


.title{
  text-align: center;
}

.header {
  background-image: url("./artifacts/images/spray3.png");
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}




.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  color: black;
}

.btn {
  display: inline-block;
  background: black;
  color:white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.img {

  float: right;
  width: 100px;
  height: 100px;
  background: #555;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 4px;
}

.form-control {
  margin: 10px 0;
  padding-bottom: 140px;
  padding-left: 30px;
}

.form-control label {
  display: block;
  color: black;
}

.form-control input {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}


@media only screen and (max-width: 600px) {
  .connectlogo {
   
    width:128px;

  }

  .btn {
    display: inline-block;
    background: black;
    color:white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: inherit;

  }
}